* {
    margin: 0;
    padding: 0;

    font-family: var(--font-body);
    color: var(--color-primary);
}


header {
    background-color: var(--color-secondary);
    display: flex;
    gap: 60px;
    padding: 20px 0 5px 0;
    justify-content: center;
    
    #nav-header {
        font-weight: bold;
        color: var(--color-surface);
    }
}

p {
    margin: 15px 0;
    font-size: 18px;
    text-align: justify;

    a {
        font-weight: bold;
        text-decoration: underline !important;
    }
}

ul, ol {
    margin: 10px 35px;
    font-size: 18px;
}

h3 {
    margin: 45px 0 15px 40px;
    font-size: 20px;
}

table {
    margin: 25px 45px;
    display: block;
    overflow-x:auto;
    border-collapse: collapse;
    font-size: 18px;
    
    tbody {

        tr + tr {
            border-top: 1px var(--color-muted) solid;
        }
        
        th + th,
        td + td {
            border-left: 1px var(--color-muted) solid;
        }
    }

    tr {
        td {
            // white-space: nowrap;
            padding: 4px 7px;
        }
    }
}

body {
    background-color: var(--color-surface);
}

main {
    max-width: 960px;
    margin: auto;
    padding: 60px 0;
}

h1 {
    font-size: 50px;
}

@media (max-width: $mobile) {
    p {

        text-align:justify;
        font-size: 16px;
    }

    table {
        margin: 10px 0;
        font-size: 16px;
    }

    main {
        margin: 0 20px;
        padding: 30px 0;
    }

    ul, ol {
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }

    h3 {
        margin: 25px 0 10px 30px;
    }
}