<!DOCTYPE html>

<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>
        {% if current_path == "/" %}
            Matěj Prokopič
        {% elif page %}
            {{ page.title }} | Matěj Prokopič
        {% elif section %}
            {{ section.title }} | Matěj Prokopič
        {% else %}
            Matěj Prokopič
        {% endif %}
    </title>
    <!-- <title>{% block title %}Matěj Prokopič{% endblock %}</title> -->

    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/icon.png" type="image/png">

    <script src="/js/navigation.js" defer></script>
</head>

<body>


<header>
    <div class = "nav-mobile-block">
        <div id = "nav-header">
            Matěj Prokopič
        </div>
    
        <button
            class="nav-toggle"
            aria-label="Open navigation"
            aria-expanded="false"
            aria-controls="main-navigation"
        >
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <nav>
        <a href="/">O mně</a>
        <a href="/matfyz-teaching/">Výuka - Matfyz</a>
        <a href="/czech-teaching/"> Teaching Czech </a>
        <a href="/blog/">Blog</a>
    </nav>
</header>


<main>
    {% block content %}
    {% endblock %}
</main>
</body>

</html>